/* stylelint-disable no-descending-specificity */
.avada-select-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.avada-select-wrapper select {
  display: none !important;
}
.avada-button-select,
.avada-image-select,
.avada-color-select {
  width: var(--form_input_height);
  height: var(--form_input_height);
  border-style: solid;
  border-width: var(--form_border_width-top) var(--form_border_width-right) var(--form_border_width-bottom) var(--form_border_width-left);
  border-radius: var(--form_border_radius);
  border-color: var(--form_border_color);
  background-color: var(--form_bg_color);
  position: relative;
  margin-right: 5px;
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
}
.ltr .avada-button-select:last-child,
.ltr .avada-image-select:last-child,
.ltr .avada-color-select:last-child {
  margin-right: 0 !important;
}
.rtl .avada-button-select:last-child,
.rtl .avada-image-select:last-child,
.rtl .avada-color-select:last-child {
  margin-left: 0 !important;
}
.avada-button-select > span,
.avada-image-select > span,
.avada-color-select > span {
  height: 100%;
  display: block;
  width: 100%;
  border-radius: var(--form_border_radius);
}
.avada-button-select:focus,
.avada-image-select:focus,
.avada-color-select:focus {
  outline: none;
  box-shadow: none;
}
.avada-button-select:focus:not([data-checked]),
.avada-image-select:focus:not([data-checked]),
.avada-color-select:focus:not([data-checked]),
.avada-button-select:hover,
.avada-image-select:hover,
.avada-color-select:hover {
  border-color: var(--form_focus_border_color-5a);
}
.avada-button-select[data-checked],
.avada-image-select[data-checked],
.avada-color-select[data-checked] {
  border-color: var(--form_focus_border_color);
}
.avada-button-select[data-disabled],
.avada-image-select[data-disabled],
.avada-color-select[data-disabled] {
  opacity: 0.2;
  cursor: not-allowed;
}
.avada-color-select > span {
  height: 100%;
  display: block;
  width: 100%;
  border-radius: var(--form_border_radius);
}
.avada-image-select {
  width: auto;
}
.avada-image-select > img {
  height: 100%;
  width: auto;
  border-radius: var(--form_border_radius);
  -o-object-fit: cover;
     object-fit: cover;
}
.avada-button-select {
  min-width: var(--form_input_height);
  align-items: center;
  justify-content: center;
  padding: 5px 15px;
  width: auto;
}
.widget_layered_nav .awb-woo-attr {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  float: none;
}
.ltr .widget_layered_nav .awb-woo-attr {
  margin: 0 -10px 0 -12px;
}
.rtl .widget_layered_nav .awb-woo-attr {
  margin: 0 -12px 0 -10px;
}
.widget_layered_nav .awb-woo-attr:before {
  display: none;
}
.widget_layered_nav .awb-woo-attr .avada-button-select,
.widget_layered_nav .awb-woo-attr .avada-image-select,
.widget_layered_nav .awb-woo-attr .avada-color-select {
  margin: 0;
  padding: 5px;
  border-style: solid;
  border-width: var(--form_border_width-top) var(--form_border_width-right) var(--form_border_width-bottom) var(--form_border_width-left);
}
.widget_layered_nav .awb-woo-attr:focus .avada-button-select,
.widget_layered_nav .awb-woo-attr:hover .avada-button-select,
.widget_layered_nav .awb-woo-attr:focus .avada-image-select,
.widget_layered_nav .awb-woo-attr:hover .avada-image-select,
.widget_layered_nav .awb-woo-attr:focus .avada-color-select,
.widget_layered_nav .awb-woo-attr:hover .avada-color-select {
  border-color: var(--form_focus_border_color-5a);
}
.widget_layered_nav .awb-woo-attr-wrapper {
  display: inline-flex;
  align-items: center;
}
.widget_layered_nav .awb-woo-attr-name {
  margin: 0 0.5em;
}
.widget_layered_nav .awb-woo-attr-count {
  font-size: 0.9em;
}
.fusion-content-widget-area .widget_layered_nav li.chosen .awb-woo-attr,
.fusion-content-widget-area .widget_layered_nav_filters li.chosen .awb-woo-attr,
.fusion-content-widget-area .widget_layered_nav li.chosen .count,
.fusion-content-widget-area .widget_layered_nav_filters li.chosen .count {
  color: var(--form_focus_border_color-5a);
}
.fusion-content-widget-area .widget_layered_nav li .awb-woo-attr:hover,
.fusion-content-widget-area .widget_layered_nav_filters li .awb-woo-attr:hover {
  color: var(--form_focus_border_color-5a);
}
