.woocommerce .checkout h3 {
  margin-top: 0;
  border-bottom: 1px solid;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.avada-woo-one-page-checkout .woocommerce .checkout #customer_details .col-1,
.avada-woo-one-page-checkout .woocommerce .checkout #customer_details .col-2 {
  box-sizing: border-box;
  border: 1px solid;
  overflow: hidden;
  padding: 30px;
  margin-bottom: 30px;
  float: left;
  width: 48%;
  margin-right: 4%;
}
.avada-woo-one-page-checkout .woocommerce form.checkout #customer_details div:last-child {
  margin-right: 0;
}
.avada-woo-one-page-checkout .woocommerce form.checkout .avada-checkout-no-shipping #customer_details .col-1 {
  width: 100%;
  margin-right: 0;
}
.avada-woo-one-page-checkout .woocommerce form.checkout .avada-checkout-no-shipping #customer_details .col-2 {
  display: none;
}
.avada-woo-one-page-checkout.rtl .woocommerce form.checkout #customer_details .col-1,
.avada-woo-one-page-checkout.rtl .woocommerce form.checkout #customer_details .col-2 {
  float: right;
}
.avada-woo-one-page-checkout.rtl .woocommerce form.checkout #customer_details .col-1 {
  margin-left: 4%;
  margin-right: 0;
}
